
.delete-button {
  border-radius: 50%;
  margin-right: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}



.tableFixHead          { 
  overflow-y: scroll;
   max-height: 500px; 
   border-radius: 10px;
  width: 76%;
  overflow-x: hidden;
  }
.tableFixHead thead th { 
  position: sticky; 
  top: 0;
  z-index: 1; 
  background-color: var(--color-primary);
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
 }


table  { 
  border-collapse: collapse;
  background: rgb(245, 245, 245);
    width  : 100%;
   }
th, td { padding: 8px 16px; }


thead tr {
  height: 50px;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}

table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #e2e2e2;
}

tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

table td,
table th {
  text-align: left;
}

.isDetailed {
  width: 100%;
  overflow-y: hidden;
}