header {
  display: flex;
  height: 80px;
  padding: var(--content-padding);
  box-shadow: 0px 3px 15px #a0a4a7;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
}
.content {
  padding: var(--content-padding);
}

a {
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
}

div {
  margin: 10px;
}
