.booked-date {
  background-color: var(--color-accent) !important;
  border-radius: 50%;
}
.demo-inline-calendar-card {
  width: 300px;
}
.mat-calendar-body-selected {
  background-color: transparent !important;
  color: black !important;
}

.selected-date {
  background-color: var(--color-accent) !important;
  border-radius: 50%;
}

.calendar {
  margin-top: 40px;
  margin-left: 10px;
}

@media only screen and (max-width: 1600px) {
  .demo-inline-calendar-card {
    width: 240px;
  }
}