<div class="flex space-evenly">
  <div class="container">
    <div class="dateInput">
      <button mat-fab (click)="onPreviousDayClick()" class="mat-elevation-z0">
        <mat-icon>arrow_back_ios_new</mat-icon>
      </button>
      <form [formGroup]="dateSelectionForm">
      <mat-form-field>      
        <input          
          matInput
          [matDatepicker]="picker"
          formControlName="selectedDateCalendar"
          readonly 
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
      <button mat-fab (click)="onNextDayClick()">
        <mat-icon>arrow_forward_ios_new</mat-icon>
      </button>
    </div>
    
    <app-floorplan
      [desktopList]="desktopList()"
      [selectedDate]="dateSelectionForm.value.selectedDateCalendar"
      (onDelete)="loadData()"
      [isSelectionMode]="false"
    ></app-floorplan>
  </div>
  <section>
    <div class="m1">
      <app-agenda [desktopList]="desktopList()"></app-agenda>
    </div>
  </section>
</div>
