.currentDate {
  font-weight: bold;
}

.line {
  margin: 12px;
}

img {
  transition: all 1s ease;
  transform: rotateZ(-130deg);
  width: 170px;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.list {
  max-height: 40vh;
  overflow-y: auto;
}

.today {
  font-weight: 500;
}

.button-delete {
  margin-left: 10px;
}

.card {
  min-width: 450px;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
}

.container {
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bolder;
}